.home{
    background-image: url(./img/backgroud.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
}

.home__text{
    font-size: 2.25rem;
}
.home__name{
    font: bold;
    font-size: 4rem;
    color: var(--primary-color);
}